<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.travelmaker.dto.User" alias="user" />
		<typeAlias type="com.travelmaker.dto.TravelReview" alias="travelReview" />
		<typeAlias type="com.travelmaker.dto.UserReview" alias="userReview" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/travelReviewMapper.xml" />
		<mapper resource="mapper/userReviewMapper.xml" />
	</mappers>
</configuration>
