<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.travelmaker.dto.Accompany"
			alias="accompany" />
		<typeAlias type="com.travelmaker.dto.Location"
			alias="location" />
		<typeAlias type="com.travelmaker.dto.User" alias="user" />
		<typeAlias type="com.travelmaker.dto.TravelReview"
			alias="travelReview" />
		<typeAlias type="com.travelmaker.dto.AccompanyRegist"
			alias="accompanyRegist" />
		<typeAlias type="com.travelmaker.dto.UserReview"
			alias="userReview" />
		<typeAlias type="com.travelmaker.dto.Chat" alias="chat" />
		<typeAlias type="com.travelmaker.dto.Chat" alias="chatRoom" />
		<typeAlias type="com.travelmaker.dto.AccompanyParti"
			alias="accompanyParti" />
		<typeAlias type="com.travelmaker.dto.Review" alias="review" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/accompanyMapper.xml" />
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/travelReviewMapper.xml" />
		<mapper resource="mapper/accompanyRegistMapper.xml" />
		<mapper resource="mapper/userReviewMapper.xml" />
		<mapper resource="mapper/chatMapper.xml" />
		<mapper resource="mapper/chatRoomMapper.xml" />
		<mapper resource="mapper/accompanyPartiMapper.xml" />
		<mapper resource="mapper/reviewMapper.xml" />
	</mappers>
</configuration>
