<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travelmaker.dao.IsLikeMapper">
	<!-- like 검색 -->
	<select id="selectIsLike" parameterType="isLike"
		resultType="isLike">
		SELECT *
		FROM isLike where uid = #{uid} and rid = #{rid};
	</select>

	<!-- like 생성 -->
	<insert id="insertIsLike" parameterType="isLike">
		INSERT INTO
		isLike(uid,
		rid)
		VALUES(#{uid},#{rid});
	</insert>

	<select id="getPoint" parameterType="int"
		resultType="reviewPoint">
		SELECT * FROM review_point where rid=#{rid};
	</select>

	<insert id="insertPoint" parameterType="int">
		INSERT INTO
		review_point(rid) VALUES(#{rid});
	</insert>

	<update id="updatePoint" parameterType="int">
		UPDATE review_point set
		point = point+10 where rid = #{rid};
	</update>
</mapper>
