<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travelmaker.dao.MaxLikeMapper">

	<select id="getMaxId" parameterType="int" resultType="maxLike">
		SELECT *
		FROM maxLike where rid = #{rid};
	</select>

	<update id="upMaxLike" parameterType="maxLike"
		useGeneratedKeys="true" keyProperty="max">
		UPDATE maxLike SET
		max =
		max+1
		WHERE
		rid= #{rid};
	</update>

	<insert id="insertMaxLike" parameterType="maxLike">
		INSERT INTO maxLike(uid, rid) VALUES(#{uid}, #{rid});
	</insert>

</mapper>
